{% load bootstrap4 %}
<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="" />

    {% block styles %} {% bootstrap_css %} {% endblock %}
  </head>
  <body>
    <div class="container">
      {% block navbar %}
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Instagram</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
            <center>
              <form class="d-flex ml-5">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      </center>
            </ul>
          </div>
        </div>

         <ul>
      <div class="col-sm-6 col-md-6">
            {% comment %} {% if user.is_authenticated %} {% endcomment %}
            <ul>
              <div class="dropdown">
                <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false">Account
                          <span class="caret"></span>
                      </a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="#">Home</a>
                  </li>
                  <li>
                    <a href="#">Change Password</a>
                  </li>
                  <li>
                    <a href="#">Logout</a>
                  </li>
                </ul>
              </div>
            </ul>
            {% comment %} {% else %} {% endcomment %}
           
              <a class='btn btn-default' href="#">Login</a>
            

            {% comment %} {% endif %} {% endcomment %}
      </nav>
      {% endblock %}
    </div>
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %} {% endblock %}
  </body>
</html>
