{% include 'base.html'%}
{% load static %}
{% load cloudinary %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

{% endblock %}

{% block content %}
<div class="container">
<h4>{{message}}</h4>
<div class="row">
<div class="col-md-4">
<h4>{{image.name}}</h4>
<hr>
<img  class=" n" src="{{image.image.url}}" alt=" {{image.name}}"  width="290" height="290">
<hr>
<h6>"{{image.caption}}"</h6>
</div>
<div class="col-md-8">
<h4>Comments</h4>
<hr>
<form method ="post" action="{% url 'singleimage' image.id %}" enctype="multipart/form-data">
       {% csrf_token %}
       {{form.as_p}}
       <button class="btn-primary" type="submit">comment</button>
      </form>
      <hr>
      {% if profile.name == current_user.username %}

      <form method ="post" action="{% url 'singleimage' image.id %}" enctype="multipart/form-data">
       {% csrf_token %}
       {{form2.as_p}}
       <button class="btn-primary" type="submit">Update caption</button>
      </form>
      {% endif %}
      <hr>

{% for comment in comments  %}
<h6>
{{comment.profile.name}}: 
<span>
<p>     ~{{comment.comment}} ~</p>
</span>
</h6>
{% endfor %}
</div>
</div>
</div>
{% endblock  %}