header {
    height: 100vh;
    background-image: url("/static/images/rowan.jpg");
    /* flex-box thing */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    background-size: cover;
    margin-bottom: 30px;
    color: rgb(2, 2, 2);
    font-family: monospace;
    filter: blur(0.6px);
    -webkit-filter: blur(0.6px);
}

.words {
    background-color: rgba(211, 211, 211, 0.8);
    padding-top: 100px;
    text-align: left;
    padding-bottom: 100px;
}

.circle {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thenav {
    background-color: #49c5b6;
}

.profbio {
    background-color: whitesmoke;
    height: 400px;
}

.container {
    position: relative;
    /* width: 50%; */
}

.image {
    opacity: 1;
    display: block;
    /* width: 100%; */
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: rgba(19, 11, 11, 0.5);
    ;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.sidemodal {
    background-image: url("{{image.image.url}}");
}